.support-01 {
  background-color: var(--tui-support-01);
}

.purchase-main {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 10px 40px;
  border-top: 1px solid var(--tui-support-11);
  cursor: pointer;
}

.purchase-info {
  text-align: right;
}

.purchase-title {
  padding-top: 10px;
}

.btn {
  padding: 5px;
  border-radius: 10px;
  background: white;
  border: 2px solid var(--tui-error-fill);
  color: var(--tui-error-fill)
}
