<div class="tui-text_body-l-2 wallet">
  <div class="">
    <div class="tui-row tui-row_sme wallet-header">
      <h4>Кошелек расходов</h4>
    </div>

    <div class="tui-row tui-row_sme purchase-container">
      <div class="tui-col_5">
        Мои расходы за неделю
      </div>
      <div class="tui-col tui-col_md-2">
        <button type="button" class="btn"
          [class.btn-ok]="!isAddPurchaseVisible"
          [class.btn-dang]="isAddPurchaseVisible"
          (click)="onClick()">
          <tui-svg src="{{ isAddPurchaseVisible ? 'tuiIconCloseLarge' : 'tuiIconMoreHorLarge' }}"></tui-svg>
        </button>
      </div>
    </div>

    <app-purchase-add *ngIf="isAddPurchaseVisible" (add)="onAdd($event)"></app-purchase-add>

    <div class="tui-row tui-row_sme">
      <div class="tui-col tui-col_12">
        <ul class="purchase-list_container">
          <li *ngFor="let purchase of purchases; let index = index">
            <app-purchase-preview
              [isCommentVisible]="index === currentIndex"
              [purchase]="purchase"
              (clicked)="onPurchaseClick(index)"
            ></app-purchase-preview>
          </li>
        </ul>
      </div>
    </div>

    <div class="tui-row_sme tui-skeleton_center summary">
      <div class="tui-col tui-col_8">
        <span class="summary-label">Итого:&nbsp;</span>
        <span class="summary-value">
          <tui-money [value]="summary" [colored]="true"></tui-money>
        </span>
      </div>
    </div>
  </div>
</div>
