:host {
  display: block;
  background-color: #eee;
  margin: 10px;
  box-shadow: 0 27px 30px 0 rgba(0, 0, 0, 0.3), 0 20px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.header {
  padding: 10px;
  font-weight: bolder;
  font-size: 24px;
  text-align: center;
}

.list {
  padding: 20px;
  list-style: none;
  text-align: center;
  font-size: 18px;

  li {
    cursor: pointer;
    padding: 10px;
    border-top: 1px solid gray;
    &:hover {
      color: tomato;
      background-color: darken(#eeeeee, 15);
    }
    .active {
      color: #ffc94c;
      background-color: darken(#eeeeee, 30);
      &:hover {
        color: tomato;
      }

    }
  }
}
